body{
    margin: 0;
    overflow: auto;
}

nav{
    background-color: #333;
    padding-top: 30px;
    text-align: center;
}
#menu{
    width: 100%;
    list-style: none;
    margin: auto;
    
}

#menu li{
    display: inline-block;
    padding: 14px 20px;

}
#menu a{
    color: white;
}

main{
    padding: 20px;
}

div h1, h2{
    text-align: center;
}

main p{
    text-align: justify;
}

footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}