body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.profil{
    margin: 0;
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    position: relative;
}

#food{ 
    width: 120%;
    height: 110%;
    object-fit: cover;
    display: inline-block;
    bottom: 20%;

}

#menu{
    margin: 0;
    padding: 10px;
    display: flex;
    background-color: rgb(36, 24, 24);
    align-items: center;
    justify-content: center;
}
#menu li{
    margin: 0 15px;
    list-style: none;

}
#menu a{
    color: white;
    font-size: 15px;
    display: flex;
    text-align: center;
}

main{
    margin: 10px 20px;
}


header{
    position: absolute;
    top: 10rem;
    left: 20px;
    color: white;
}

header h1{
    margin: 0;
    font-size: 20px;
}
header h2{
    margin: 0;
    font-size: 12px;
}

section{
    float: left;
    display: block;
    width: 45%;
    text-align: justify;
}

section h2{
    border:rgb(181, 181, 181) 1px solid;
    border-radius: 5px;
    font-size: large;
    overflow: visible;
    text-align: left;
}

section > article{
    margin-bottom: 20px;
    break-after: always;
    font-size: small;
}
section > article h3{
    font-style: italic;
}

aside{
    text-align: justify;
    float: left;
    width: 45%;
    margin-left: 5%;
    position: relative;
    font-size: small;
}


footer{
    clear: both;
    margin-bottom:0;
    text-align: center;
    margin-top: 20px;
    padding: 1px;
    background-color: rgb(36, 24, 24);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

aside h2{
    border:rgb(181, 181, 181) 1px solid;
    border-radius: 5px;
    font-size: small;
    overflow: visible;
}


@media screen and (max-width: 1200px) {
    aside h2{
        border: none;
    }
    
}

@media screen and (max-width: 1024px) {
    section h2, aside h2{
        border: none
    }

    .profil{
        height: 250px;
    }
}

@media screen and (max-width: 480px) {
    section, aside{
        font-size: 18px;
        float: none;
        width: 100%;
        margin: 0;
    }
    aside h2{
        border: none;
        font-size: 20px;
    }
    section article{
        break-after:always;
        font-size: 18px;
    }
    header{
        text-align: left;
        padding: 10px;
    }
    #menu{
        flex-direction: column;
    }
    #menu li{
        margin: 10px 0;
    }
    header h1{
        font-size: 2rem;
    }
    header h2{
        font-size: 1.5rem;
    }
    #food{
        height: 250%;
        width: 250%;
        object-fit: cover;
    }
    section h2{
        border: rgb(154, 150, 150) 1px solid;
        font-size: x-large;
        padding: 15px;
    }}