body{
    margin: 0;
}

p{
    text-align: center;
    font-size: large;
}

.container{
    margin: auto;
    left: 120px;
    position: relative;
    width: 500px;
    height: 500px;
    display: block;
}

#box1{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
}
#box2{
    position: absolute;
    top: 5%;
    left: 10%;
    display: inline-block;
    z-index: 2;
}
#box3{
    position: absolute;
    top: 10%;
    left: 20%;
    display: inline-block;
    z-index: 3;
}

img{
    width: 100%;
}

.box {
    width: 200px;
    height: 200px;
}